.contador {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contador div {
  width: 400px;
  align-self: center;
}

#valor-contador {
  font-size: 3em;
  
}

.contador button {
  margin: 5px;
}